#entete{
  background-image: url('image/plage.gif'); 
  background-repeat: no-repeat;
     background-size: cover; /* Pour que l'image couvre toute la section */
    background-position: center; 
}
/* Styles pour la bannière */


.banniere {
   position: absolute; /* Position absolue par rapport à son premier parent positionné */
    top: 0; /* Coller la bannière en haut de la section entete__header */
    left: 0; /* Aligner la bannière à gauche de la section entete__header */
    width: 100%; /* Prendre la largeur de la section entete__header */
    z-index: 1;
    background-color: #561dce6b; /* Couleur de fond de la bannière */
    color: #fff; /* Couleur du texte */
    padding: 20px 0; /* Espacement intérieur de la bannière */
    overflow: hidden; /* Pour masquer le texte dépassant de la bannière */
    white-space: nowrap; /* Pour empêcher le texte de se diviser sur plusieurs lignes */
}
.banniere p {
    animation: defilement 38s linear infinite; /* Animation de défilement du texte */
    margin: 0; /* Supprimer les marges du paragraphe */ 
}

@keyframes defilement {
    0% {
        transform: translateX(100%); /* Déplacer le texte complètement hors de la vue à droite */
    }
    100% {
        transform: translateX(-100%); /* Déplacer le texte complètement hors de la vue à gauche */
    }
}

.entete__header{
  
  text-align: center; 
  background-repeat: no-repeat;
  background-position: 100% 20%;
  margin-bottom: 200px;


}

.cartes-cours {
  display: grid;
  //grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
  /* Espace entre les cartes */
}

/* Style pour chaque carte */
.carte-cours {
  border: 1px solid #ddd;
  /* Bordure pour séparer les cartes, tu peux ajuster la couleur et l'épaisseur selon tes préférences */
  padding: 15px;
  text-align: left;
}

/* Style pour le titre de chaque carte */
.carte-cours h5 {
  margin: 0;
  font-size: 19px;
  color: rgb(99, 137, 179);
  font-weight: bold;
}

.carte-cours p {
  font-size: 13px;
}


/* Style pour la durée de chaque cours */
.carte-cours span {
  display: block;
  /* Pour que la durée apparaisse sur une nouvelle ligne */
  margin-top: 10px;
  color: #666;
  /* Couleur de texte plus claire pour la durée */
}

.carte-cours {
  transition: background-color 0.3s ease;
}

.carte-cours:hover {
  background-color: #a3d2e1;
  /* Couleur de fond au survol */
}

.carte-cours {
  width: 100%;
  /* Utilise 100% pour occuper la largeur totale de son conteneur */
  margin-bottom: 20px;
  /* Ajoute une marge en bas pour espacer les cartes */
  box-sizing: border-box;
}

/* Ajoute ces styles pour créer un effet hover sur chaque carte */
.carte-cours:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.lien {
  background-color: #3665d4;
  display: inline-block; /* Pour permettre l'utilisation de padding et de border-radius */
  padding: 10px 20px; 
  font-weight: bold;
  text-decoration: none; 
}

.lien:hover {
  /* Styles à appliquer lorsque le lien est survolé */
  text-decoration: underline; /* Soulignement au survol */
}
h3 a{
    text-decoration: none;
}