footer {
    
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%; /* Ajustez la largeur des sections selon vos besoins */
    margin-bottom: 20px;
}

.footer-section h2 {
color: var(--couleur-avant-entete);
font-size: 2rem;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
}

/* Style pour les liens au survol */
.footer-section a:hover {
    text-decoration: underline;
}