.menufooter {
  color: #fff;
  //  display: flex;
   // flex-direction: row;
   text-align: center;
    color: #fff;
}

.footer-content h2{
    margin-bottom: 0; /* Supprimez ou ajustez l'espacement au-dessous des h2 si nécessaire */
}
.footer-content {
    display: flex;
    justify-content: space-around;
    gap: 40px;
   // flex-wrap: wrap;
}
.logoFooter{
 width: 250px;
  height: auto;
    margin-right: 10px
}

.footer-section {
    width: 30%; /* Ajustez la largeur des sections selon vos besoins */
    margin-bottom: 20px;
}
.description{
  width: 351px; 
  margin: 0 auto 20px; /* Centre le contenu horizontalement et maintient l'espacement en bas */
    text-align: center;
}
.footer-section h2 {
color: var(--couleur-avant-entete);
font-size: 2rem;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
   text-align: center;
}

.footer-section ul {
    list-style: none;
    text-align: center;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}

/* Style pour les liens au survol */
.footer-section a:hover {
    text-decoration: underline;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.textealigne{
  text-align: start;
}
/* Media Query pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Alignement vertical des éléments */
        align-items: center; /* Centrage des éléments */
    }

    .footer-section {
        width: 100%; /* Utilisation de la pleine largeur pour chaque section */
        text-align: center; /* Centrage du texte */
        margin-bottom: 20px; /* Maintien de l'espacement entre les sections */
    }

    .footer-section h2 {
        font-size: 1.5rem; /* Adaptation de la taille du texte */
    }

    .footer-section p, .footer-section a {
        font-size: 12px; /* Réduction de la taille de la police pour une meilleure lisibilité */
    }

    .logoFooter {
        width: 180px; /* Réduction de la taille du logo */
    }

    .social-icon__link {
        font-size: 1.5rem; /* Ajustement de la taille des icônes sociales */
    }
}

/* Media Query pour les petits écrans (téléphones) */
@media (max-width: 480px) {
    .footer-section h2 {
        font-size: 1.2rem; /* Taille de police réduite pour les très petits écrans */
    }

    .social-icon__link {
        font-size: 1.2rem; /* Réduction supplémentaire de la taille des icônes sociales */
    }
}

.conteneurRecherche {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center;     /* Aligner les éléments verticalement */
    gap: 2px;               /* Espace entre les éléments */
}

