.menufooter {
       color: #fff;
  
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%; /* Ajustez la largeur des sections selon vos besoins */
    margin-bottom: 20px;
}

.footer-section h2 {
color: var(--couleur-avant-entete);
font-size: 2rem;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    text-align: center;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}

/* Style pour les liens au survol */
.footer-section a:hover {
    text-decoration: underline;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}