/* Styles pour le formulaire de recherche */
.search-form {
  margin: 0 auto;
  text-align: center;
}

.search-form input[type="search"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 18px;
  width: 3px;
  max-width: 100%;
}
#s{
 margin-top: 5%;
 margin-bottom: 5%;
}
.search-form input[type="submit"] {
  background-color:#3665d4;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form input[type="submit"]:hover {
  background-color: #0056b3;
}