.menu-principal-container {
  //nav
   
  position: absolute;
  z-index: 2;
  transform: translateX(-120%);
  transition: transform 0.3s ease-in-out;
  padding: 2.5%;

  @media (min-width: 700px) {
    
    position: static;
    transform: translateX(0);
  }
}

/**.menu__header {
  background: linear-gradient(to bottom, #e0b7d9, #2752ca)
}**/

.menu {
  //ul
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 1%;

  @media (min-width: 700px) {
    flex-direction: row;
    display: flex;

  }
}

.menu-item {
  //li
  flex: 1 0 50px;

}
//article individuelle du menu
.menu-item a {
background-color: #d5bbe4;
  color: #5472d5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  margin-left: 20px;
  transition: background-color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;

}

/* gestion label #burger l'image svg est dans un label */
#burger {
  color: red;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;

  @media (min-width: 700px) {
    display: none;
  }
}

/* Effet de bordure au survol */
.menu a:hover {
  background-color: #b495e6;
  color: #2c3e50;
}
//checkbox
#chk_burger:checked~.menu-principal-container {
  transform: translateX(0);
}


.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

}

////////////////////logo//////////////////
.logo {
  width: 250px;
  height: auto;
  margin-right: 10px;
}
.checkbox {
  display: none;
}