button {
    width: 40%;
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.875rem);
    padding: 7px 15px;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: color 0.3s;

}

button:hover {
    background-color: #d9c9f3;
    color: #000000;

}